.keymaster_lock_screen {
    position: fixed;
    z-index: 9999;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #000;
}
.keymaster_lock_message {
    width: 20em;
    margin: 1em auto;
    padding: 1em;
    border-radius: 1em;
    background: #fc0;
    color: black;
    overflow: auto;
}
